<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Hay! <%= userNM %> <br>Keep a diary, and someday it'll keep you.</h1>
    
    <!-- <% userWIthSecret.forEach(element => { %>
      <h3 class="secret-text"> <%=saveddate%> </h3>
      <p class="secret-text"><%=element%></p>
     <br>
    <% }); %>

    
    <hr> -->
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Write Your Diary</a>
    <a class="btn btn-light btn-lg" href="/MyDiary" role="button">MyDiary</a>
  </div>
</div>

<%- include('partials/footer') %>
 
